body {
	margin: 0;
}

.midi-activity-container {
  margin-top:40px;
}

.dropdown .caret {
	margin-left: 5px;
}

.btn .sub-title {
	margin-left: 10px;
}

.list-item-holder video.list-item {
	max-width:100%;
	max-height: 80vh;
}

.list-item-holder img.list-item {
	width:100%;
}